.body {
  height: calc(100vh - var(--header-height));
  height: calc(100vh - #{$header-height});
  width: 100%;
  background-color: var(---primary-color);
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulseWrapper {
  width: 50px;
  margin: 0 auto;
}
