{
  "env": {
    "es6": true,
    "browser": true
  },
	"extend": ["eslint-config-prettier"],
  "rules": {
		"comma-dangle": 2,
		"no-restricted-modules": 0,
		"space-before-function-paren": 1
	},
	"parser": "babel-eslint",
	"parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
	}
}
