@font-face {
  font-family: 'Quicksand';
  src: url('quicksand-medium-webfont.woff2') format('woff2'),
    url('quicksand-medium-webfont.woff') format('woff'),
    url('quicksand-medium-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('quicksand-bold-webfont.woff2') format('woff2'),
    url('quicksand-bold-webfont.woff') format('woff'),
    url('quicksand-bold-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
