@import './reset.scss';
@import '../assets/fonts/fonts.css';

// Custom Properties variables
:root {
  --primary-color: #00ac95;
  --primary-color-dark: #025f52;
  --secondary-color: #163e4e;
  --primary-bg-color: #ececec;
  --paginator-tablet-size: 40px;
  --header-height: 56px;
  --main-container: 1024px;
  --pulse-color: var(--secondary-color);
  --pulse-outer-circle-color: var(--primary-color);
  --pulse-inner-circle-color: var(--primary-color);
}

body {
  font-family: 'Quicksand', sans-serif;
  // overflow-y: overlay;
}

html {
  overflow-y: scroll;
}
