// SCSS/SASS variables
$primary-color: #00ac95;
$primary-color-dark: #025f52;
$secondary-color: #163e4e;
$primary-bg-color: #ececec;
$paginator-tablet-size: 40px;
$header-height: 83px;
$main-container: 1024px;
