.appLayout {
  padding-top: var(--header-height);
  padding-top: $header-height;
  position: absolute;
  width: 100vw;
  // TODO Remove this dead code
  // top: 0;
  // left: 0;
  // min-width: 100vw;
  // min-height: calc(100vh - var(--header-height));
  // min-height: calc(100vh - #{$header-height});
}

:global(.route-motion-enter, .route-motion-appear) {
  .appLayout {
    opacity: 0;
    transform: scale(1.1);
  }
}

:global(.route-motion-enter-active, .route-motion-appear-active) {
  .appLayout {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s, transform 0.3s;
  }
}

:global(.route-motion-exit) {
  .appLayout {
    opacity: 1;
    transform: scale(1);
  }
}

:global(.route-motion-exit-active) {
  .appLayout {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s, transform 0.3s;
  }
}
