.header {
  padding: 20px 0;
  background-color: $primary-color;
  background-color: var(--primary-color);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  composes: mainWrapper from 'styles/app-wrappers.scss';
}

.link {
  composes: baseStyles from 'styles/link.scss';
  margin: 0 10px;
  transition: color 0.35s ease-out;

  &:global(.active) {
    color: gray;
  }
}
