.header {
  // position: fixed;
  // width: 100vw;
  padding: 20px 0;
  background-color: $primary-color;
  background-color: var(--primary-color);
  box-shadow: 0px 2px 5px 1px #00000052;
  // z-index: 100000;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // composes: mainWrapper from 'styles/app-wrappers.scss';
}

.link {
  composes: baseStyles from 'styles/link.scss';
  margin: 0 10px;
  transition: color 0.35s ease-out;

  &:global(.active) {
    color: gray;
  }
}
