{
  "env": {
    "es6": true,
    "cypress/globals": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "eslint-plugin-cypress"
  ],
  "rules": {
    "no-console": "warn"
  }
}