/* CSS Support */
.text-styled {
  color: blue;
}
/*  Duplicated on purpose to test CSS's Duplicated rules 'removal' */
.text-styled {
  color: blue;
}

.box h2 {
  font-size: 20px;
  color: tomato;
}
.box h3 {
  font-size: 19px;
}

/* Image's Support */
.image-via-js img {
  width: 100%;
  max-width: 290px;
}
.test-image-holder {
  width: 100%;
  height: 163px;
  max-width: 290px;
  background-image: url('../../assets/images/breaking-bad.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.image-svg {
  width: 100px;
  height: 100px;
}
