.pageOne {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  composes: import mainWrapper from 'styles/app-wrappers.scss';
}

.title {
  font-size: 20px;
  font-weight: 600;
}
