<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <p class="test-pure-css">
      This text must be red (via pure css)
    </p>
    <p class="test-scss">
      This text must be green (via scss)
    </p>
    <p class="test-sass">
      This text must be orange (via sass)
    </p>
    <p class="test-stylus">
      This text must be blue (via stylus)
    </p>
    <div id="app"></div>
  </body>
</html>
